body{

    margin: 0;
    padding: 0;
}

section p{

    padding: 220px 50px;
}

.pop_up{

    position: fixed;
    top: 0;
    left: 0;
    height: 30%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    top: 30%;
    left: 35%;


    justify-content: center;
    align-items: center;
}

.icon{

    display: flex;
    position: fixed;
    right: 38%;
    top: 33%;
}

i{

    transition: transform 0.3 ease;

}

i:hover{

    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.25s ease;
}

.email_input{

    display: flex;
    position: absolute;
    top: 70%;
}

.promotion{

    display: flex;
    justify-items: center;
    width: 70%;
}

.closed_window{

    display: none;
}