html, body{

    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Finir le responsive pour la version PC : Largeur de la barre de recherche,
   largeur des tâches, largeur des input pour le titre et la description du formulaire

*/
@media screen and (min-width: 600px) {
    
    .search-form{

        width: 23%;
    }

    .search-bar {
        width: 60%;
        padding: 5px 8px;
        text-align: center;
        font-size: 1em;
        border: 2px solid #ccc;
        border-radius: 25px;
        outline: none;
        transition: all 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

body{

    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: #F9E1BD;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;


}

header{

    height: 10%;
    width: auto;
    
}


main{

    height: 100%;
    width: 100%;
}

button{

    margin: 0;
    padding: 0;
}

.page-container{

    width: 80%;
    height: 100%;
    justify-self: center;
    
}

.date-filter{

    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    
    
}

.formulaire{

    visibility: hidden;
    display: flex;
    position: fixed;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0.5s;
    z-index: 10;
    flex-direction: column;
    gap: 60px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* Comment faire en sorte de faire disparaître la fenêtre sans que les éléments gênent ? right ? */
    
}

.search-form{

    display: flex;
    justify-content: center;
}

.search-form.passive{

    visibility: hidden;
}

.date-filter.passive{

    visibility: hidden;
}

.search-bar{

    margin-top: 10px;
    width: 70%;
    padding: 5px 8px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.search-bar.passive{


    visibility: hidden;
}

.formulaire.active{

    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0s; /
}

.title, .message{

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    

}

.title{

    height: 10%;
    width: 80%;

}

.message{


    height: 250px;
    width: 80%;
}

.add-new-task{

    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #F9E1BD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 75%;
    border-radius: 10px;

}

.add-new-task p{

    font-weight: bold;
    font-size: 1.2em;

}

.navigation{

    display: flex;
    flex-direction: column;
    
    justify-self: center;
    align-items: center;
    

}

.navigation i{

    cursor: pointer;
}

.navigation.passive{

    display: none;
}

.task{

    display: flex;
    margin-top: 25px;
    gap: 40px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    width: 60%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;

}

.tasks-container{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    max-height: 80vh;

}

.tasks-container.passive{

    display: none;
}

.task div{

    display: flex;
    align-items: center;
    gap: 10px;

}

.task div i{

    cursor: pointer;
    
}

.task p{

    text-align: center;
    width: 60px;
    overflow: hidden;
}

.fa-window-close:hover{

    color: rgb(255, 0, 0) !important;
}

.fa-check-square:hover{

    color:rgb(2, 163, 2) !important;
}