body{

    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(#A2A2E0, #B39DA2);
}

.popular_questions{

    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;
    
}


.question{
    
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 10px 100px;
    cursor: pointer;
    border-radius: 5px;
    background: blue;
    
}

.answer{
    
    max-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-left: 10000px;
    transition: max-height 5s ease;
    
}

.answer.active{
    
    max-height: 200px;
    padding: 10px 10px;
    margin-left: 0;
}

.popular_questions.active{

    background: linear-gradient(#A2A2E0, #B39DA2);
    transition: max-height 4s ease;

    max-height: 100px;
    border-radius: 5px;
}